
.menuBox {
    width: 320px;
    height: 90vh;
    max-height: 700px;
    margin-left: auto;
    background-color: #173D33BF;
    padding-top: 28px;
    padding-left: 24px;
    border-radius: 25px;
    backdrop-filter: blur(12.5px);

}

.menuBtnClose {
    color: white;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding-left: 0;
    margin-left: -6px;
    
}

.menuBtnClose::before {
    content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3e%3cpath d='M5.83325 5.83325L14.1666 14.1666M5.83325 14.1666L14.1666 5.83325' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
    width: 20px;
    height: 20px;
}

.menuList {
    border-top: 1px solid white;
    margin-top: 8px;
    padding-top: 24px;
    padding-left: 0px;
    list-style: none;
    
}

.menuListItem {
    display: block;
    margin-bottom: 8px;
}

.menuLink {
    font-family: var(--font-fira), sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.96px;
    color: #FFFFFF40;
    text-decoration: none;
    display: flex; 
    align-items: center; 
    gap: 6px;
}

.menuLink::after {
    content: '\02197';
    display: inline-block;
    
}

.menuLinkCurrent {
    color: #97D28B;
}

.menuLink:hover,
.menuLink:focus {
    color: white;
}



@media screen and (min-width: 760px) { 


}

@media screen and (min-width: 1280px) {

   

}