.sectionCases {

    padding-bottom: 36px;
}

.controllBox {
    display: flex;
    justify-content: space-between;
}

.buttonBox {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.buttonBox button {
    border: 1px solid var(--color-dark-green);
    outline: none;
    border-radius: 100px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent ;
}

.buttonBox button:active {
    border-color: var(--color-light-green);
}

.buttonBox button img {
    width: 24px;
    height: 24px;
}

.leftArrow {
    transform: rotate(180deg);
}