.mainSection {
    /* padding-bottom: 24px; */
    color: var(--color-dark-green);
    font-family: "FiraFont", sans-serif;
}

.mainBox {
    display: flex;
    flex-direction: column;

}

.mainHeader {
    font-family: "OswaldFont", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    /* color: var(--color-dark-green); */
    margin-top: 0;
    margin-bottom: 24px;
}

.mainBoxText {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 24px;
}

.mainDescription {
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.64px;

}

.learnMoreBtn {
    text-decoration: none;
    font-family: "FiraFont", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.12;
    letter-spacing: -0.64px;
    color: var(--color-dark-green);
    border-radius: 500px;
    border: 1px solid var(--color-light-green);
    padding: 4px 4px 4px 16px;

    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.learnMoreArrowRight {
    width: 32px;
    height: 32px;
}

.topContacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    font-size: 16px;
    letter-spacing: -0.64px;
    font-weight: 400;

    border-top: 1px solid var(--color-light-green);
    padding-top: 24px;
    padding-bottom: 28px;
}

.topContacts a {
    text-decoration: none;
    color: var(--color-dark-green);
    
}

.topContacts p {
    display: none;
}