@import 'node_modules/modern-normalize/modern-normalize.css';


.body {
    background-color: #EAEDF1;
}

.container {
    margin: 0 auto;
    /* border: 1px solid red; */
    min-width: 360px;
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
}



@media screen and (min-width: 760px) {
    .container {
        width: 760px;
        max-width: unset;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
        padding-left: 40px;
        padding-right: 40px;
    }
}