@import 'node_modules/modern-normalize/modern-normalize.css';

.container {
    margin: 0 auto;
    border: 1px solid red;
}


@media screen and (min-width: 360px) {
    .container {
        min-width: 360px;
        max-width: 480px;
    }


}

@media screen and (min-width: 760px) {
    .container {
        width: 760px;
        max-width: unset;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}