@import 'node_modules/modern-normalize/modern-normalize.css';

:root {
    --color-dark-green: #173D33;
    --color-light-green: #97D28B;
}

html {
    scroll-behavior: smooth;
  }

body {
    /* background-color: #F3F5FA; */
    font-family: var(--font-fira), sans-serif;
    color: var(--color-dark-green);
    background: #F3F5FA;

}

.container {
    margin: 0 auto;
    min-width: 360px;
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.section-header {
    font-family: "Oswald", sans-serif;
    color: var(--color-dark-green);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 24px;
    margin-left: 0;
    
}

.regular-text {
    font-family: var(--font-fira), sans-serif;

    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.64px;
    margin: 0;
}



@media screen and (min-width: 760px) {
    .container {
        width: 760px;
        max-width: unset;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
        padding-left: 40px;
        padding-right: 40px;
    }
}