.electricitySection {
    text-align: center;
}


.electricityCounter {
    color: var(--color-light-green);
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 8px;

}

.kWh {
    color: var(--color-dark-green);
    font-size: 24px;
    font-weight: 400;
    text-transform: none;
}