.electricitySection {
    text-align: center;
    padding-bottom: 36px;
}

.decorationBox {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.decorationLine {
    display: block;
    width: 1px;
    height: 48px;
    border-left: 1px solid var(--color-light-green);
}


.electricityCounter {
    color: var(--color-light-green);
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
    margin-bottom: 0;
}

.kWh {
    color: var(--color-dark-green);
    font-size: 24px;
    font-weight: 400;
    text-transform: none;
}

