.burgerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;

    width: 40px;
    height: 40px;
    background-color: #DCEFD8;
    border-radius: 50%;
    transition: background-color 500ms linear;
    border: none;
}

.burgerBox:hover,
.burgerBox:focus {
    background-color: #97D28B ;
}

.burgerIcon {
    display: block;
    /* flex-direction: column;
    align-items: center;
    gap: 1px; */
    width: 14px ;
    height: 1px;
    border-radius: 1px;
    background-color: #292D32;
}

.backdrop {
    position: fixed;
    top: 0;
    /* bottom: 0; */
    right: 0;
    /* left: 0; */
    width: 100vw;
    height: 100vh;
    background-color: #173D3340 ;
    backdrop-filter: blur(2px);
    padding-top: 36px;
    padding-right: 20px;
    z-index: 100;
    
    transition: background-color 500ms linear,
                top 250ms ease-in,
                right 250ms ease-in,
                bottom 250ms ease-in,
                left 250ms ease-in,
                width 250ms ease-in,
                height 250ms ease-in;
    overflow: hidden;
    

}

/* .visuallyHidden {
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    scale: 0;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    
    } */

.menuHidden {
    position: absolute;
    top: 0%;
    right: 0;
    /* bottom: 50%; */
    /* left: 50%; */
    width: 1px;
    height: 1px;
    overflow: hidden;
    background-color: transparent;
}

.menuBox {
    width: 320px;
    height: 90vh;
    max-height: 700px;
    margin-left: auto;
    background-color: #173D33BF;
    padding-top: 28px;
    padding-left: 24px;
    border-radius: 25px;
    backdrop-filter: blur(12.5px);

}

.menuBtnClose {
    color: white;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding-left: 0;
    margin-left: -6px;
    
}

.menuBtnClose::before {
    content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3e%3cpath d='M5.83325 5.83325L14.1666 14.1666M5.83325 14.1666L14.1666 5.83325' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
    width: 20px;
    height: 20px;
}

.menuList {
    border-top: 1px solid white;
    margin-top: 8px;
    padding-top: 24px;
    padding-left: 0px;
    list-style: none;
    
}

.menuListItem {
    display: block;
    margin-bottom: 8px;
}

.menuLink {
    font-family: 'FiraSense';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.96px;
    color: #FFFFFF40;
    text-decoration: none;
    display: flex; 
    align-items: center; 
    gap: 6px;
}

.menuLink::after {
    content: '\02197';
    display: inline-block;
    
}

.menuLinkCurrent {
    color: #97D28B;
}

.menuLink:hover,
.menuLink:focus {
    color: white;
}



@media screen and (min-width: 760px) { 


}

@media screen and (min-width: 1280px) {

   

}